{% comment %}
  QUADRANT LAYOUT - Prayer Times Compact
  Shows Fajr (first prayer) in most compact form
{% endcomment %}

{% assign prayer_data = data %}
{% assign timings = prayer_data.timings %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}

<div class="layout">
  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--col flex--center-x flex--center-y h--full gap--xsmall p--1">
      {% comment %} Show Fajr (first prayer of the day) in quadrant view {% endcomment %}
      <div class="value value--large md:value--xlarge value--tnums">{{ timings.Fajr }}</div>
      <div class="title title--small md:title--medium text--center">Fajr</div>
    </div>
  {% else %}
    {% render "error_state", size: "quadrant" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
