{% comment %}
  QUADRANT LAYOUT - Prayer Times Compact
  Single outlined card showing Fajr (first prayer) in most compact form
{% endcomment %}

{% assign prayer_data = data %}
{% assign timings = prayer_data.timings %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}

<div class="layout">
  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--row flex--wrap gap--small p--1" style="justify-content: center;">
      {% comment %} Fajr - Single outlined card {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1" style="flex: 0 1 auto; min-width: 80px; text-align: center;">
        <span class="label label--small">Fajr</span>
        <span class="value value--medium value--tnums" data-value-fit="true" data-value-fit-max-height="45">{{ timings.Fajr }}</span>
      </div>
    </div>
  {% else %}
    {% render "error_state", size: "quadrant" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
